//**Colours: #222, #555, #999
Typefaces: Crimson Text (regular, italic)
Font-sizes: 1.5rem, 1.125rem
Line-heights: 1.3
Left/right text padding: 1rem
Other margins & paddings intentionally not specififed.
For the best vertical rhythm: remove the top margins from things & add bottom margins equal to the line-height.
Border-sizes: 2px
*/
html {
  box-sizing: border-box;
  font-family: "Crimson text";
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}
